<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>MealCardBackend2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans font-normal leading-normal text-gray-800 bg-white flex flex-col min-h-screen h-full">
    <%= render "shared/flash_notice" %>
    <%= yield %>
  </body>
</html>
