<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>MealCardBackend2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style id="table_style" type="text/css">
      body
      {
          font-family: Arial;
          font-size: 10pt;
      }
      table
      {
          border: 1px solid #ccc;
          border-collapse: collapse;
      }
      table th
      {
          background-color: #F7F7F7;
          color: #333;
          font-weight: bold;
      }
      table th, table td
      {
          padding: 5px;
          border: 1px solid #ccc;
      }
    </style>
  </head>
  <body class="font-sans font-normal leading-normal text-gray-800 bg-white flex flex-col min-h-screen h-full">
    <%= render "shared/flash_notice" %>
    <%= yield %>
  </body>
</html>
<script type="text/javascript">
  function PrintTable() {
      var printWindow = window.open('', '', 'height=758,width=1080');
      printWindow.document.write('<html><head><title>Table Contents</title>');

      //Print the Table CSS.
      var table_style = document.getElementById("table_style").innerHTML;
      printWindow.document.write('<style type = "text/css">');
      printWindow.document.write(table_style);
      printWindow.document.write('</style>');
      printWindow.document.write('</head>');

      //Print the DIV contents i.e. the HTML Table.
      printWindow.document.write('<body>');
      var divContents = document.getElementById("dvContents").innerHTML;
      printWindow.document.write(divContents);
      printWindow.document.write('</body>');

      printWindow.document.write('</html>');
      printWindow.document.close();
      printWindow.print();
  }
</script>
